@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Chivo:wght@400&famliy=Lobster&display=swap");
body {
    margin: 0;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: "100vw";
}

html[data-theme="dark"] {
    background: #000;
    filter: invert(1) hue-rotate(180deg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-item {
    text-align: center;
}

.nav-item a {
    padding: 1.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: none;
}

.Select-menu-outer {
    z-index: 200 !important;
}

.block {
    border-radius: 0.25rem;
    border: 0.05rem solid lightgrey;
    /* background-color: rgba(0, 0, 0, 0.15); */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.block:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    border: 0.05rem solid rgb(150, 150, 150);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out;
    /* transform: scale(1.0001); */
}


/*profile */

.col-12,
.col-md-3 {
    /* background: steelblue; */
    padding: 0;
}


/* sinup page */

.list-group-item {
    background-color: transparent;
}

.desc {
    /* line-height: 1em;
    height: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    /* width: 100%; */
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: 1.3em;
    /* fallback */
    max-height: 2.6em;
    text-overflow: ellipsis;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.text-align-left {
    text-align: start;
}

td,
th {
    text-align: end;
    padding: 50px;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

@media (min-width: 992px) {
    .make-small {
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .box {
        max-width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

.border-invalid {
    border: 1.4px solid #dc3545;
    border-radius: .25rem
}