@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

html[data-theme='dark'] {
    background: #000;
    filter: invert(1) hue-rotate(180deg)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-item {
    text-align: center;
}

.nav-item a {
    padding: 1.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: none;
}

.Select-menu-outer {
    z-index: 200 !important;
}

.block {
    border-radius: 0.5rem;
    border: 0.05rem solid lightgrey;
    /* background-color: rgba(0, 0, 0, 0.15); */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.block:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    border: 0.05rem solid rgb(150, 150, 150);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    /* transform: scale(1.01); */
}


/*profile */

.col-12,
.col-md-3 {
    /* background: steelblue; */
    padding: 0;
}


/* sinup page */

.list-group-item {
    background-color: transparent;
}