.list-group-item {
    border: 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-left: 0;
    padding-right: 0
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.active-tab-side {
    border-bottom: 4px solid rgb(8, 163, 163) !important;
    /* border-right: 0px solid transparent; */
    color: black;
    font-family: 'Chivo';
}